html {
  position: relative;
}
header {
  border-bottom: 1px solid #ccc;
  padding: 0px 70px;
  position: fixed;
  background-color: #f0f0f0;
}
.row {
  margin: 0;
}
main {
  margin-top: 70px;
}
.navbar-brand {
  color: blueviolet;
  font-size: 30px;
  padding-right: 20px;
}
.navbar-nav .active {
  color: black;
}
.navbar-nav {
  gap: 30px;
  font-size: 18px;
  color: #ccc;
}
.navbar {
  justify-content: space-between;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-nav a {
  color: #787777;
  text-decoration: none;
}
.navbar-nav .nav-item:hover {
  color: black;
}
.nav-icon {
  display: flex;
  gap: 30px;
  font-size: 18px;
  color: #787777;
}
.nav-icon i:hover {
  color: black;
  cursor: pointer;
}
.navbar-toggler {
  border: 1px solid #ccc;
  display: flex;
  margin-left: auto;
}
.nav-2 {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 85px;
  height: 85px;
}
.nav-2 h3 {
  margin: 0px;
  font-size: 20px;
  font-weight: 400;
  color: #404040;
}
.nav-2 h6 {
  margin-bottom: auto;
  margin: 0px;
  margin-left: auto;
  color: #787777;
}
.nav-2 i {
  font-size: 13px;
  margin-right: 2px;
}
.nav-2 p {
  margin: 0px;
  color: #787777;
}
.section-1 {
  margin: 0px 70px;
}
.section-1 label {
  color: #787777;
}
.section-1 input#username,
.section-1 input#email,
.section-1 input#subject {
  width: 600px;
}
.section-1 h2 {
  margin-top: 70px;
  font-size: 25px;
  font-weight: 400;
}
.section-1 h3 {
  margin-top: 50px;
  font-size: 16px;
  margin-bottom: 20px;
}
.section-1 .text-area {
  resize: horizontal;
}
.section-1 option {
  border: 1px solid rgb(223, 223, 223);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-1 p {
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 500;
}

.section-1 input:last-child {
  padding: 10px 30px;
  border: none;
  background-color: rgb(2, 129, 247);
  color: white;
  border-radius: 4px;
}
.section-1 input:last-child:hover {
  opacity: 0.8;
}
.section-3 {
  background-color: #e5e5e5;
  display: flex;
  padding: 0px 85px;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-top: 50px;
}
.section-3 p {
  margin: 0;
  font-size: 19px;
  color: #787777;
  letter-spacing: 0.6;
}
.section-3 input {
  padding: 15px 55px;
  border-radius: 4px;
  background-color: rgb(2, 129, 247);
  border: none;
  color: white;
}
.section-3 input:hover {
  opacity: 0.8;
}
footer {
  background-color: black;
  padding: 0px 70px;
  height: 250px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

footer .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-nav ul li {
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  margin: 10px 0px;
}
footer .footer-nav ul li a {
  text-decoration: none;
  color: #787777;
}
footer .footer-nav ul li:hover a {
  color: white;
}
.footer-nav .active {
  color: white;
}
footer button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1;
}
footer button i {
  font-size: 20px;
  color: #787777;
}
@media screen and (min-width: 577px) and (max-width: 991px) {
  .section-1 input#username,
  .section-1 input#email,
  .section-1 input#subject {
    width: 80%;
  }
  .text-area {
    width: 80%;
  }
  .section-1 option {
    width: 80%;
  }
  .section-3 input {
    padding: 13px 45px;
    margin-left: 20px;
  }
  .footer-nav {
    width: 50%;
  }
  .section-3 p {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .section-1 input#username,
  .section-1 input#email,
  .section-1 input#subject {
    width: 100%;
  }
  .text-area {
    width: 100%;
  }
  .section-3 input {
    padding: 10px 35px;
    margin-left: 15px;
  }
  .footer-nav {
    width: 50%;
  }
  .section-3 p {
    font-size: 14px;
  }
  .section-1 {
    margin: 0px 40px;
  }
  .section-3 {
    padding: 0px 40px;
  }
  footer {
    padding: 0px 40px;
  }
}
